.hidden {
    display: none;
}
input[type=email],input[type=password] {
    background: transparent;
    border: none;
    border-bottom: solid 1px #1f244e;
    color: #1f244e;
    transition: all 200ms ease;
}

input[type=email]:focus,input[type=password]:focus {
    background-color: #1f244e;
    color: #fff;
}
