{% extends "core/base.html" %}
{% load static %}
{% block content %}


    <div class="container">
        <main>

            <div class="my-5">
                <h1>North Dakota doesn't require voter registration</h1>
                <p class="lead">You're all set, just remember to bring identification to your polling place.</p>
                <p class="lead">Click below to go to the North Dakota election website.</p>
                <a href="{{ zip.link }}" class="button">GO</a>
                <p><a href="{% url 'index' %}">Click here to check another zip code.</a></p>
            </div>


        </main>
    </div>



{% endblock content %}

