{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="container">
        <main>
            <div class="my-5">
                {% if zip.mail_only == 'mail' %}
                    <h1>Register to Vote in {{ zip.state }}</h1>
                    <p class="lead">You’ll need to print, sign, and mail your voter registration form.</p>
                    <p class="lead">If you don’t have a printer, many public libraries and office stores do.</p>
                    <a href="{{ zip.link }}" class="button">Register Now</a>
                {% elif zip.mail_only == 'online' %}
                    <h1>Register Online in {{ zip.state }}</h1>
                    <p class="lead">{{ zip.state }} offers online voter registration. It will only take a couple minutes.</p>
                    <a href="{{ zip.link }}" class="button">Register Now</a>
                {% else %}
                    <h1>Register to Vote in {{ zip.state }}</h1>
                    <p class="lead">You can register in person at one of the locations listed on your state website.</p>
                    <a href="{{ zip.link }}" class="button">Find a Registration Site</a>
                {% endif %}
                <p><a href="{% url 'index' %}">Click here to check another zip code.</a></p>
            </div>

        </main>
    </div>



{% endblock content %}

