{% extends "core/base.html" %}
{% load static %}
{% block content %}


    <div class="container">
        <main>

            <div class="my-5">
                <h1>Register to Vote in NH</h1>
                <p class="lead">You can either register in person at your clerk's office, or contact your clerk and request a form to be mailed to you.</p>
                <p class="lead">Click below to go to the New Hampshire election website to look up your clerk or learn more.</p>
                <a href="{{ zip.link }}" class="button">GO</a>
                <p><a href="{% url 'index' %}">Click here to check another zip code.</a></p>
            </div>


        </main>
    </div>



{% endblock content %}

